%script(type="text/javascript" src="http://platform.twitter.com/widgets.js")
%script(src="#{site.base_url}/#{site.jsDir}/jquery.js")
%script(src="#{site.base_url}/#{site.jsDir}/prettify.js") 
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-transition.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-alert.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-modal.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-dropdown.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-scrollspy.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-tab.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-tooltip.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-popover.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-button.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-collapse.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-carousel.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-typeahead.js")
%script(src="#{site.base_url}/#{site.jsDir}/bootstrap-affix.js")
%script(src="#{site.base_url}/#{site.jsDir}/application.js") 
%script(src="#{site.base_url}/#{site.jsDir}/subnavstick.js")