!!! 5
%html(lang="en")
	%head
		%title #{page.title}
		= partial("head.html.haml")
		%link(href="#{site.base_url}/#{site.cssDir}/#{page.style}/styles.css" rel="stylesheet")

	%body(data-spy="scroll" data-target=".subnav" data-offset="50")
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					%a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					%a.dropdown-toggle.brand(href="#{site.links.home}" data-toggle="dropdown")<
						%img(src="#{site.base_url}/#{site.imgDir}/#{site.tmDir}/jbosscommunitylogo_hori.png" alt="The JBoss Community")
					%ul.dropdown-menu
						%li<
							%a(href="#{site.links.blogs}") Blogs
						%li<
							%a(href="#{site.links.tweets}") Tweets                
						%li<
							%a(href="#{site.links.facebook}") Facebook                
						%li<
							%a(href="#{site.links.twitter}") Twitter                
						%li<
							%a(href="#{site.links.linkedIn}") LinkedIn                
						%li<
							%a(href="#{site.links.vimeo}") Vimeo                
						%li<
							%a(href="#{site.links.asylum}") Asylum                
						%li<
							%a(href="#{site.links.events}") Events                
					.nav-collapse
						%ul.nav              
							%li.dropdown
								%a.dropdown-toggle(data-toggle="dropdown" href="#{site.links.getStarted}")<
									=precede 'GET STARTED ' do
										%b.caret>
								%ul.dropdown-menu
									%li<
										%a(href="#{site.links.getToolKit}") Get Tool Kit (JBDS)
									%li<
										%a(href="#{site.links.downloads}") Downloads                
									%li<
										%a(href="#{site.links.documentation}") Documentation                
									%li<
										%a(href="#{site.links.forums}") Forums                
									%li<
										%a(href="#{site.links.webinars}") Webinars                
									%li<
										%a(href="#{site.links.articles}") Articles                
									%li<
										%a(href="#{site.links.books}") Books                
							%li.dropdown
								%a.dropdown-toggle(data-toggle="dropdown" href="#{site.links.getInvolved}")<
									=precede 'GET INVOLVED ' do
										%b.caret>
								%ul.dropdown-menu
									%li<
										%a(href="#{site.links.wiki}") Wiki
									%li<
										%a(href="#{site.links.discussions}") Discussions                
									%li<
										%a(href="#{site.links.issueTracker}") Issue Tracker                
									%li<
										%a(href="#{site.links.sourceRepos}") Source Repositories                
									%li<
										%a(href="#{site.links.userGroups}") User Groups                
									%li<
										%a(href="#{site.links.sigs}") Special Interest Groups                
									%li<
										%a(href="#{site.links.reportSecurityIssue}") Report a Security Issue                
							%li.dropdown
								%a.dropdown-toggle(data-toggle="dropdown" href="#{site.links.projects}")<
									=precede 'PROJECTS ' do
										%b.caret>
								%ul.dropdown-menu
									%li<
										%a(href="#{site.links.appServer}") Application Server
									%li<
										%a(href="#{site.links.webServer}") Web Server                
									%li<
										%a(href="#{site.links.gateIn}") GateIn                
									%li<
										%a(href="#{site.links.esb}") ESB                
									%li<
										%a(href="#{site.links.drools}") Drools                
									%li<
										%a(href="#{site.links.hibernate}") Hibernate                
									%li<
										%a(href="#{site.links.richfaces}") RichFaces               
									%li<
										%a(href="#{site.links.tools}") Tools               
									%li<
										%a(href="#{site.links.rhq}") RHQ
									%li.divider
									%li<
										%a(href="#{site.links.projects}") More...               
							%li.dropdown
								%a.dropdown-toggle(data-toggle="dropdown" href="#{site.links.products}")<
									=precede 'PRODUCTS ' do
										%b.caret>
								%ul.dropdown-menu
									%li<
										%a(href="#{site.links.appPlatform}") Application Platform
									%li<
										%a(href="#{site.links.webPlatform}") Web Platform                
									%li<
										%a(href="#{site.links.portalPlatform}") Portal Platform                
									%li<
										%a(href="#{site.links.soaPlatform}") SOA Platform                
									%li<
										%a(href="#{site.links.brms}") Business Rules Mgmt System                
									%li<
										%a(href="#{site.links.dataServicesPlatform}") Data Services Platform                
									%li<
										%a(href="#{site.links.wfk}") Web Framework Kit               
									%li<
										%a(href="#{site.links.devStudio}") Developer Studio               
									%li<
										%a(href="#{site.links.operationsNetwork}") Operations Network
									%li.divider
									%li<
										%a(href="#{site.links.products}") More...
					%ul.nav.pull-right
						%li
							.btn-group
								%a.btn.dropdown-toggle(data-toggle="dropdown" href="#")
									=succeed ' Username' do
										%i.icon-user
									%span.caret
								%ul.dropdown-menu
									%li<
										%a(href="#") Profile
									%li.divider
									%li<
										%a(href="#") Sign Out
						%li.divider-vertical
						%li
							%form.navbar-search
								%input.search-query(type="text" placeholder="Search")

		.container
			~ content

			= partial("footer.html.haml")

		/ ==========================JavaScript========================
		/ Placed at the end of the document so the pages load faster
		= partial("javascripts.html.haml")
